body {
  background-color: #093A3E;
}
h2 {
  color: #97C8EB;
  font-family: "Impact, Charcoal, sans-serif";
}
h3 {
  color: #97C8EB;
  font-family: "Verdana, Geneva, sans-serif";
}
p {
  font-family: "Arial, Arial, Helvetica, sans-serif";
  color: #97C8EB;
}
.test {
  border-radius: 50%;
}
.page-style {
  background-color: #3AAFB9;
  border: groove #97C8EB;
  color: #001011;
}
rect.btn {
  stroke: #fff;
  fill: #fff;
  fill-opacity: 0;
  stroke-opacity: 0;
}
#navigation {
  z-index: 1;
}
section#aboutme {
  float: left;
  margin: 15px;
  margin-top: 50px;
  border-bottom: thick solid #97C8EB;
}
section#bootstrap {
  clear: left;
  margin: 20px;
  border: thick solid #97C8EB;
}
section#canvasDrawing {
  border: thin dashed #97C8EB;
}
.flex-container {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  width: max-content;
  height: auto;
}
.flex-container-horizontal {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  width: max-content;
  height: auto;
  flex-direction: row;
}
.flex-container-vertical {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  width: max-content;
  height: auto;
  flex-direction: column;
}
.flex-item {
  background-color: #3AAFB9;
  width: auto;
  height: max-content;
  margin: 10px;
}
.flex-item > div {
  padding-left: 1em;
  padding-right: 1em;
  font-family: "Times New Roman", Times, sans-serif;
  color: #001011;
  background-color: #64E9EE;
  font-size: 1.2em;
  font-weight: bold;
}
.flex-button {
  background-color: #97C8EB;
  width: auto;
  height: max-content;
  margin: 8px;
  color: #001011;
}
/*
.flex-item:first-child{
	margin-left: 10px;
	transform: matrix(1, .50, .55, 1, 0, 0);
}
*/
.position-relative {
  position: relative;
}
.position-static {
  position: static;
}
.position-fixed {
  position: fixed;
  background-color: #3AAFB9;
}
.translate {
  -ms-transform: translate(100px, 0px);
  -webkit-transform: translate(100px, 0px);
  transform: translate(100px, 0px);
  transition: transform 2s;
}
.rotate {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  transition: transform 2s;
}
.scale {
  -ms-transform: scale(0.5, 0.75);
  -webkit-transform: scale(0.5, 0.75);
  transform: scale(0.5, 0.75);
  transition: transform 2s;
}
.skewY {
  -ms-transform: skewY(50deg);
  -webkit-transform: skewY(50deg);
  transform: skewY(50deg);
  transition: transform 2s;
}
.skewX {
  -ms-transform: skewX(50deg);
  -webkit-transform: skewX(50deg);
  transform: skewX(50deg);
  transition: transform 2s;
}
.matrix {
  -ms-transform: matrix(1.3, 0.25, -0.1, 0.75, 90, 15);
  -webkit-transform: matrix(1.3, 0.25, -0.1, 0.75, 90, 15);
  transform: matrix(1.3, 0.25, -0.1, 0.75, 90, 15);
  transition-property: transform;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 0.2s;
}
@keyframes animating {
  from {
    background-color: red;
    border: thick solid #97C8EB;
  }
  to {
    background-color: #97C8EB;
    border: thin dashed red;
  }
}
div.animation {
  width: 500px;
  height: 500px;
  animation-name: animating;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-iteration-count: 2;
  animation-direction: alternate;
}
