body{
	background-color:white;
}

h2 {
	color:black;
	font-family: "Impact, Charcoal, sans-serif"
}

h3 {
	font-family: "Verdana, Geneva, sans-serif"
}

p{
	font-family: "Arial, Arial, Helvetica, sans-serif"
}

.test{
	border-radius: 50%;
}

section#aboutme{
	float: left;
	margin: 15px;
	border-bottom: thick solid dodgerblue;
}

section#bootstrap {
	clear: left;
	margin:20px;
	border: thick solid deepskyblue;
}

.flex-container{
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: max-content;
	height: auto;
}

.flex-item{
	background-color: cornflowerblue;
	width: auto;
	height: max-content;
	margin: 10px;
}

.flex-item > div {
	padding-left: 1em;
	padding-right: 1em;
}

.flex-item:first-child{
	margin-left: 50px;
}

.position-relative{
	position: relative;
}

.position-static{
	position: static;
}

.position-fixed{
	position: fixed;
	background-color: lightgreen ;
}